{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid registered-content">
        <div class="card border border-4">
                <h5 class="card-title text-center mt-3">Forgot Password</h5>
            <div class="card-body my-3">
                <div class="container text-center">
                    <div class="form-group mb-4">
                        <label for="username">Username</label>
                        <input type="text" class="register" id="username">
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary px-4">Ask for reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
